.theme {
  color: #FFFFFF;
  font-family: Arial; 
  background-color: #333333;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px; 
  padding-bottom: 20px;
  flex-direction: column;
}

.content-container {
  width: 75%;
  display: inline-block;
  align-items: left;
  padding-left: 100px;
  padding-right: 100px; 
  padding-top: 10px; 
  padding-bottom: 20px;
  flex-direction: column;
}

.calculator-container {
  width: 40%;
  border-style: solid;
  border-color: #3EB489;
  border-radius: 10px;
  padding-top: 20px; 
  padding-left: 20px; 
  padding-right: 20px; 
  padding-bottom: 10px; 
  margin-bottom: 20px; 
}

.output-container {
  width: 40%;
  border-style: solid;
  border-color: #3EB489;
  border-radius: 10px;
  padding-top: 20px; 
  padding-left: 20px; 
  padding-right: 20px; 
  padding-bottom: 5px; 
  margin-bottom: 20px; 
}

.field {
  display: flex; 
  flex-direction: column; 
  margin-bottom: 12px;
}

.label {
  display: block; 
  font-weight: 500;
  text-align: left;
}

.input {
  padding: 4px 4px;
  text-align: center;
}

.select {
  padding: 4px 4px;
  text-align: center;
}

.calculate-button {
  width: 25%; 
  color: white;
  padding: 10px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #3EB489;         
  border-radius: 10px; 
  text-decoration: none;
}

.calculate-button:hover {
  cursor: pointer;
  background-color: #3EB489;
  transition: background-color 0.3s ease;
}